@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.navbar-nav.navbar-center {
  position: fixed;
  left: 50%;
  transform: translatex(-50%);
}



.navbar-brand {                
  position: absolute;
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

body{
  color: #504f4e;
  
}

.logo{
  height: 130px;
}

.btn{
  background-color:  #da383f;
  font-weight: bold;
  border-radius: 20px;

}

.promotiondiv{
  width: 600;
  height: 400;
}

.images3{
  width: 550;
  height: 400;
}


.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


.divbg{
    /* The image used */
    background-image: url("../assets/charels.png");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.divbg2{
  /* The image used */
  background-image: url("../assets/foot.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}


.divbg3{
  /* The image used */
  background-image: url("../assets/charleys_mobile_app_bg4.jpg");

  /* Full height */
  height: 100%; 
  color:white;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
.divbg4{
  /* The image used */
  background-image: url("../assets/cityRewarsBanner.jpg");
  background-repeat: no-repeat;
  height:40rem ;
  width:10rem ;
  /* Full height */
   /* Center and scale the image nicely */
}
 
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ font-size: 18px; }
	.navbar .nav-item .dropdown-menu{ display: none; }
  .navbar .nav-item:hover .nav-link{ color:#da383f;  }
  .navbar .nav-item{font-size: 25px; }
  .navbar .nav-item:hover .nav-link{ font-size: 30px;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
  .navbar .nav-item .dropdown-menu{ margin-top:0; }
  .dropdown-menu{
    backface-visibility: 0.5;
  }
}

.fixed-bg {
  background-image: url("../assets/charleys_mobile_app_bg4.jpg");
  min-height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}


.footer-bg {
  background-image: url("../assets/uae-footer-background.png");
  min-height: 350px;
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  color: white;
}

.ft{
  background-color:#464646;
  text-align: left;
}

.fixbtn{
  position: fixed;
  bottom: 0px;
  right: 0px;
  border-radius: 60px;
  height: 10%;
}


.promotion-bg {
  background-image: url("../assets/promotionbg.jpg");
  min-height: 30px;
  max-height: 30rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

section-3 {
  height: 70vmin;
  margin-top: 15vmin;
  background: var(--bggradient);
}

.section-3 .col-md-12 > h1 {
  padding: 2em 0 0.5em 0;
  color: whitesmoke;
  font-size: 6vmin;
}

.section-3 .col-md-12 > p {
  padding: 0 4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}

.section-3 .desktop {
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}

.section-3 .desktop h3 {
  font-size: 4vmin;
}

.section-3 .desktop p {
  font-size: 2vmin;
}



input[type=text], select ,textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]{
  width: 25%;
  background-color: #da383f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #333333;
}

.fdiv {
  border-radius: 5px;
  padding: 20px;
}



/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


.cityrewerdslogo{
  height: 12rem;
  width: 24rem;
  border-radius: 15px;
  }